.home-container {
    display: flex;
    flex-direction: row;
    margin: 30px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 50px;
    
  }
  
  .main-content {
    flex: 70%; 
  }
  
  .side-content {
    flex: 30%; 
  }